*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    overflow: none;
    color: #344335;
}

header{
    background-color: #FFF9E5;
}

nav {
    background-color: #FFF9E5;
}

.nav-list{
    margin-left: 24%;
}

.nav-item a{
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

.nav-form  button{
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

button.btn.get-in-touch {
    background-color: #FFFFFF;
    border: 1px solid #2B8C34;
    border-radius: 8px;
}

button.btn.get-in-touch:hover {
    background-color: #2B8C34;
    color: #ffffff;
}


/* Hero Section */
.hero-sect-sect {
    background-color: #FFF9E5;
    padding: 6% 7%;
}

.hero-text {
    padding-top: 8%;
}

.hero-sect h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #344335;
}

.hero-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.hero-sect span {
    color:  #2B8C34;
}

.hero-sect button {
    background-color: #2B8C34;
    border-radius: 8px;
    padding: 16px 32px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
}

/* Partner Section */
.partner-container {
    background-color: #E2FFDF;
    padding: 9.7% 10% 8%;
    text-align: center;
}

.partner-container h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 5%;
    text-align: center;
    width: 79%;
    margin-bottom: 20%;
}

/* Spin text styling */
.text-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF7EE;
    margin-bottom: 20%;
}

.text-box .spin-text{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    -webkit-user-select: none;
    pointer-events: none;
    animation: Rotation 5s linear infinite;
}
@keyframes Rotation{
    0%
    {
       transform: rotate(360deg); 
    }
    100%
    {
        transform: rotate(0deg);
    }
}
.text-box .spin-text span{
    position: absolute;
    top: -100px;
/*     text-transform: uppercase; */
    display: inline-block;
    transform-origin: 0 100px;
    margin-bottom: 20%;
}

div.text-box{
    background-color: #E2FFDF;
}
.trust {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #344335;
    margin-bottom: 5%;
}

.partner-logos-sect-1, .mobile-partner-logos {
    display: none; 
}

 /* The Partner Logos */
.top-logo {
    margin-right: 5%;
}

.bottom-logo {
    margin-right: 5%;
}

.usaid {
    width: 5%;
    height: 5%;
    margin-left: 2%;  
}

.google {
    width: 11.4%;
    height: 6.4%;
}

.catalyst {
    width: 11.25%;
    height: 9%;
}

span {
    color:  #2B8C34;
}

/* Offer Section */
.offer-sect {
    padding: 15% 9.1% 3.9%;
    background-color: #ffffff;
}

.offer-sect h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
}

.offer-intro p{
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 39px;
    text-align: center;
    margin-bottom: 6.3%;
}

.span-orange{
    color: #F8B800;
}

.offer-cash-card {
    background-color: #FFF9E5;
    padding: 7.6% 2.1% 0%;
}

.ussd-img {
    margin-top: 20%;
}

.cash-card h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.cash-card p {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 3.9%;
    }

.cash-card button {
    background-color: #ffffff;
    border: 1px solid #D8A600;
    color: #D8A600;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding: 16px 32px;
}

#learn-btn:hover{
    border: 1px solid #D8A600;
    background-color: #D8A600;
    color: white;
}

/* Supply Base Section */

.our-solutions {
    padding: 13.9% 9.1% 0%;
    z-index: 0;
}

.supply-intro h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #554203;
}

.supply-intro span{
    color: #2B8C34;
}

.supply-intro p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    width: 80%;
    text-align: left;
    margin-left: 12%;
}

.gather-store {
    background-color: #E2FFDF;
    padding: 2.8% 0% 0%;
    margin-top: 6.7%;
    z-index: -1;
    height: 870px;
    border-radius: 20px;
}

.gather-store-sub h3 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #2B8C34;
}

.gather-store-sub p {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #344335;
    padding: 0% 16%;
    margin-bottom: 5%;
}


.btn-div {
    margin-bottom: 6%;
}

.btn-div button{
    background: #FFFFFF;
    border: 1px solid #2B8C34;
    border-radius: 8px;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding: 16px 32px;  
}

.btn-div#gather-btn:hover {
    border: 1px solid #2B8C34;
    background-color: #2B8C34;
    color: white;
}

.gather-store-img {
    z-index: 1;
}

/* View More Products */

.more-prod {
    margin-top: 12%;
}

.more-prod a {
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-decoration: none;
    color: #2B8C34;
}

.more-prod a:hover{
    color: #333;
}
/* Testimonial Section */
.testimonial-sect {
    margin-top: 3%;
    background-color: #fff;
    padding: 13.9% 10% 3.9%;
}

.testimonial-sect h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 3%;
}

.test-span {
    color: #2B8C34;
}

.testimonial-sect iframe {
    border-radius: 5%;
    height: 560px;
}

.arrow-controls {
    margin-top: 11%;
    gap: 4%;
}

.arrow-left {
    background: #2B8C34;
    box-shadow: 0px 0px 1.25px rgba(0, 0, 0, 0.25), 0px 0px 39.92px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 10px 13.3px 13px 15.3px;
}

.arrow-right {
    background: #FCFCFC;
    box-shadow: 0px 0px 1.25px rgba(0, 0, 0, 0.25), 0px 0px 39.92px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 10px 13.3px 13px 15.3px;
}

.arrow-right .arrow {
    border: 2px solid #344335;
    border-width: 0 2px 2px 0;
  } 

.arrow {
    border: 2px solid #E2FFDF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    /* -webkit-transform: rotate(-30deg); */
    transform: rotate(225deg);
    color: black;
  }
  
  .left {
    -webkit-transform: rotate(155deg);
    transform: rotate(55deg);
  }

/* Blog Section */
.blog-sect {
    background-color: #fff;
    padding: 13.9% 9.1% 3.9%;
}

.blog-sect h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #344335;
    margin-bottom: 3%;
}

div.card.blog-card {
    border-width: 0px;
    border-style: none;
}

.blog-card {
    margin-bottom: 20%;
    border-style: none;
    border:0px;
}

.card-body {
    background: #FFF9E5;
    border: none;
    border-style: none;
    border:0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 1.24737px rgba(0, 0, 0, 0.25);
}

.card-body a {
    text-decoration: none;
    color: #2B8C34;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.card-body a:hover{
    background-color: none;
    color: #333;
}

.card-body p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #8C9B8E;
}

.blog-cta button {
    background-color: #fff;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #2B8C34;
    margin-bottom: 5%;
}

/* Contact Section */
.contact-sect {
    background: #FFF9E5;
    padding: 6.25% 8.5%;
    color: #344335;
}


.contact-form-intro h2 {
    margin-top: 60%;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.span-yellow {
    color:#D8A600 ;
}

.contact-form-intro p {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    padding-right: 12%;
}

.contact-form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #313531;
}

.contact-form input {
    height: 60px;
}

.contact-form input, .contact-form textarea {
    background: #D6D3CA;
    border-radius: 10px;
    margin-bottom: 5%;
}

.contact-send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form button {
    background: #D8A600;
    border-radius: 8px;
    /* height: 70px; */
    padding: 16px 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #fff;
}
/* Footer Section */
.footer-sect {
    padding: 6% 0% 3% 2%;
    background-color:#2B8C34;
    overflow: hidden;
}

.footer-brand {
    padding-left: 2%;
}

.footer-sect h3{
    margin-top: 5%;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FCFCFC;
    margin-bottom: 5%;
}

.footer-sect span {
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #D1B912;
}

.social-icons a {
    margin-top: 5%;
    text-decoration: none;
    color: #FCFCFC;
    font-size: 22px;
    margin-right: 2.8%;
}

.footer-menu ul {
    padding-left: 0px;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: right;
    justify-content: right;
}

.footer-menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #D3D3D3;
}

.footer-menu a:hover {
    text-decoration: none;
    color: white;
}

.footer-menu h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FCFCFC;
}

.copyright {
    margin-top: 7%;
}

small {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFC;
    text-align: center;
}

@media screen and (max-width: 800px){
    /* Navbar */
    .nav-list {
        margin-left: 2%;
    }
    /* Hero Section */
    .hero-sect-sect {
        padding: 3% 0% 0%;

    }

    .hero-sect h1 {
        font-size: 20px;
        width: 89%;
    }

    .hero-sect p{
        font-size: 14px;
        width: 80%;
    }
    
    .hero-sect button {
        padding: 10px 20px;
        height: 41px;
        width: 125px;
        font-size: 10px;
    }

    .hero-text {
        display: flex;
        display: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } 
    
    .hero-text h1, p {
        text-align: center;
    }

    .hero-sect button {
        margin-bottom: 15%;
    }

    .hero-img {
        width: cover;
        padding: 0%;
    }

    .hero-img {
        margin: 0%;
        padding:0%;
    }

    /* Partner Section */
    .partner-container {
        padding: 20% 0.5% 14%;
        background-color: #EDF7EE;
    }

    .partner-container h2 {
        font-size: 20px;
        width: 100%;
        line-height: 120%;
        margin-bottom: 30%;
    }

    .leafimage {
        padding-top: -20px;
        width: 16.57px;
        height: 16.57px;
    }
    .text-box {
        margin-bottom: 25%;
        height: 80px;
        width: 40px;
    }
    .spin-text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4%;
    }

    div.text-box {
        background-color: #EDF7EE;
    }
    .trust {
        font-size: 14px;
        line-height: 18px;
        color: #5C715E;
        margin-bottom: 4%;
    }

    .partner-logos {
        display: block;
    }

    .partner-logos-sect-1 {
        display: block;
        padding: 5%;
        height: 5%;
        width: 1%;
    }

    .mobile-partner-logos {
        display: block;

    }

    /* .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    /* .carousel-inner .active.active.col-xs-3.carousel-item.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  
        z-index: -1;
        display: block;
        visibility: visible;
    } */ 
    /* Logos */
    .top-logo, .bottom-logo {
        margin-right: 0.5%;
        height: 5%;
        width: 10%;
    }

    .airbus {
        height: 2.5%;
        width: auto;
    }

    /* Offer Section */
    .offer-sect {
        background-color: #FFF9E5;
        padding: 6% 0% 5%;
    }

    .offer-intro h2 {
        font-size: 20px;
        line-height: 120%;
        color: #5C715E;
        padding: 0% 22%;
    }

    .offer-intro p {
        font-size: 18px;
        line-height: 150%;
    }

    .offer-cash-card {
        padding: 3.6% 1.1% 0%;
    }

    .cash-card-details{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .cash-card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cash-card p, h3 {
        display: none;
    }

    .cash-card button {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 20px;
    }

    .ussd-img {
        margin-top: 10%;
    }

/* Supply Base Section */
    .our-solutions {
        background-color: #E2FFDF;
    }

    .supply-intro h2 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    }

    .supply-intro p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5C715E;
    }

    .gather-store {
        margin-top: 1%;
        height: 37vh;
    }
    .gather-store-sub p, h3 {
        display: none;
    }

    .btn-div {
        margin-bottom: 13%;
    }

    .btn-div button {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 20px;
        height: 38px;
    }

    /* View More Products */
    .more-prod {
        margin-top: 18%;
    }

    .more-prod a {
        font-size: 14px;
        line-height: 18px;
    }

    /* Testimonial Section */

     .testimonial-sect {
        padding: 6.85% 0% 3.9%;
    }
 
    .testimonial-sect iframe {
        padding: 0%;
        border: none;
    }
    .testimonial-sect h2 {
        color: #344335;
        font-size: 20px;
        line-height: 24px;
    }

    .test-span {
        color: #344335;
    }

    .testimonial-sect iframe {
        height: 415px;
        border-radius: 0%;
    }

    .arrow-right, .arrow-left{
        width: 26.67;
        height: 26.67;
        padding: 8.33;
    }


    /* Blog Section */
    .blog-sect-desk {
        display: none;
    }

    .blog-sect {
        background-color: #fff;
        padding: 13.9% 0% 0% 5%;
    }
    
    .blog-sect h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 3%;
    }

    .blog-sect .col-xs-4 {
        padding: 0px;
        width: 90%;
    }
    
    .blog-card {
        margin-bottom: 10%;
    }
    
    div.blog-card.card-body {
        background: #FFF9E5;
        box-shadow: 0px 0px 1.24737px rgba(0, 0, 0, 0.25);
    }
    
    .blog-link {
        text-decoration: none;
        color: #2B8C34;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
    }

    .card-body.blog-link:hover {
        background-color: #2B8C34;
    }
    
    .card-body p {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #8C9B8E;
    }
    
    .blog-cta button {
        background-color: #fff;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #2B8C34;
        margin-bottom: 0%;
     } 


    /* Contact Section */
    .contact-sect {
        background-color: #ffffff;
        padding: 0% 1% 3.5%;
    }

    .contact-form-intro h2 {
        margin-top: 29.5%;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
    }

    .contact-sect p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        padding-right: 3%;
        margin-bottom: 7%;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-form input {
        height: 40px;
    }

    .contact-form input, .contact-form textarea {
        background: #EEEDEA;
    }

    .contact-form button {
        padding: 10px 20px;
        height: 38px;
        font-size: 14px;
        line-height: 18px;
    }

    /* Footer Section */
    .social-icons {
        display: none;
    }
    
    div.container-fluid.footer-sect {
        padding: 32px 12px;
    }

    .footer-sect img {
        padding-left: 15px;
    }
    .footer-sect h3 {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #D1B912;
        padding-left: 6px;
    }

    .footer-sect span {
        display: none;
    }

    .footer-menu {
        margin-bottom: 35px;
    }

    .footer-menu ul {
        padding-left: 7px;
        gap: 5px;
    }

    .footer-menu h5 {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #FCFCFC;
        padding-bottom: 3px;
    }

    .footer-menu a {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 5px;
    }

    small {
        line-height: 18px;
    }


}
